#Â 0. Environment

### Import Modules

In [181]:
import pandas as pd
import numpy as np
import pandas_profiling
import re
pd.set_option('display.max_columns',None)
pd.set_option('display.max_colwidth', 200)

### Import CSV

In [77]:
data = pd.read_csv('GSAF5.csv',encoding='iso8859-1')

# 1. Checking the DataFrame

## 1.1 General look of the DataFrame

In [78]:
data.head()

,Case Number,Date,Year,Type,Country,Area,Location,Activity,Name,Sex,Age,Injury,Fatal (Y/N),Time,Species,Investigator or Source,pdf,href formula,href,Case Number.1,Case Number.2,original order,Unnamed: 22,Unnamed: 23
0,2016.09.18.c,18-Sep-16,2016,Unprovoked,USA,Florida,"New Smyrna Beach, Volusia County",Surfing,male,M,16,Minor injury to thigh,N,13h00,NaN,"Orlando Sentinel, 9/19/2016",2016.09.18.c-NSB.pdf,http://sharkattackfile.net/spreadsheets/pdf_directory/2016.09.18.c-NSB.pdf,http://sharkattackfile.net/spreadsheets/pdf_directory/2016.09.18.c-NSB.pdf,2016.09.18.c,2016.09.18.c,5993,NaN,NaN
1,2016.09.18.b,18-Sep-16,2016,Unprovoked,USA,Florida,"New Smyrna Beach, Volusia County",Surfing,Chucky Luciano,M,36,Lacerations to hands,N,11h00,NaN,"Orlando Sentinel, 9/19/2016",2016.09.18.b-Luciano.pdf,http://sharkattackfile.net/spreadsheets/pdf_directory/2016.09.18.b-Luciano.pdf,http://sharkattackfile.net/spreadsheets/pdf_directory/2016.09.18.b-Luciano.pdf,2016.09.18.b,2016.09.18.b,5992,NaN,NaN
2,2016.09.18.a,18-Sep-16,2016,Unprovoked,USA,Florida,"New Smyrna Beach, Volusia County",Surfing,male,M,43,Lacerations to lower leg,N,10h43,NaN,"Orlando Sentinel, 9/19/2016",2016.09.18.a-NSB.pdf,http://sharkattackfile.net/spreadsheets/pdf_directory/2016.09.18.a-NSB.pdf,http://sharkattackfile.net/spreadsheets/pdf_directory/2016.09.18.a-NSB.pdf,2016.09.18.a,2016.09.18.a,5991,NaN,NaN
3,2016.09.17,17-Sep-16,2016,Unprovoked,AUSTRALIA,Victoria,Thirteenth Beach,Surfing,Rory Angiolella,M,NaN,Struck by fin on chest & leg,N,NaN,NaN,"The Age, 9/18/2016",2016.09.17-Angiolella.pdf,http://sharkattackfile.net/spreadsheets/pdf_directory/2016.09.17-Angiolella.pdf,http://sharkattackfile.net/spreadsheets/pdf_directory/2016.09.17-Angiolella.pdf,2016.09.17,2016.09.17,5990,NaN,NaN
4,2016.09.15,16-Sep-16,2016,Unprovoked,AUSTRALIA,Victoria,Bells Beach,Surfing,male,M,NaN,No injury: Knocked off board by shark,N,NaN,2 m shark,"The Age, 9/16/2016",2016.09.16-BellsBeach.pdf,http://sharkattackfile.net/spreadsheets/pdf_directory/2016.09.16-BellsBeach.pdf,http://sharkattackfile.net/spreadsheets/pdf_directory/2016.09.16-BellsBeach.pdf,2016.09.16,2016.09.15,5989,NaN,NaN

In [79]:
data.describe().T

,count,mean,std,min,25%,50%,75%,max
Year,5992.0,1925.204606,286.473712,0.0,1942.00,1975.0,2003.00,2016.0
original order,5992.0,2997.548899,1729.860210,2.0,1499.75,2997.5,4495.25,5993.0

In [80]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5992 entries, 0 to 5991
Data columns (total 24 columns):
Case Number               5992 non-null object
Date                      5992 non-null object
Year                      5992 non-null int64
Type                      5992 non-null object
Country                   5949 non-null object
Area                      5590 non-null object
Location                  5496 non-null object
Activity                  5465 non-null object
Name                      5792 non-null object
Sex                       5425 non-null object
Age                       3311 non-null object
Injury                    5965 non-null object
Fatal (Y/N)               5973 non-null object
Time                      2779 non-null object
Species                   3058 non-null object
Investigator or Source    5977 non-null object
pdf                       5992 non-null object
href formula              5991 non-null object
href                      5989 non-null object
Case Number.1             5992 non-null object
Case Number.2             5992 non-null object
original order            5992 non-null int64
Unnamed: 22               1 non-null object
Unnamed: 23               2 non-null object
dtypes: int64(2), object(22)
memory usage: 1.1+ MB

In [81]:
data.shape

(5992, 24)

In [82]:
data.dtypes

Case Number               object
Date                      object
Year                       int64
Type                      object
Country                   object
Area                      object
Location                  object
Activity                  object
Name                      object
Sex                       object
Age                       object
Injury                    object
Fatal (Y/N)               object
Time                      object
Species                   object
Investigator or Source    object
pdf                       object
href formula              object
href                      object
Case Number.1             object
Case Number.2             object
original order             int64
Unnamed: 22               object
Unnamed: 23               object
dtype: object

In [83]:
#data.profile_report()

In [84]:
data.columns

Index(['Case Number', 'Date', 'Year', 'Type', 'Country', 'Area', 'Location',
       'Activity', 'Name', 'Sex ', 'Age', 'Injury', 'Fatal (Y/N)', 'Time',
       'Species ', 'Investigator or Source', 'pdf', 'href formula', 'href',
       'Case Number.1', 'Case Number.2', 'original order', 'Unnamed: 22',
       'Unnamed: 23'],
      dtype='object')

**The column Species and Sex have spaces at the end on the name, we are going to take them out**

In [85]:
data.columns = ['Case Number', 'Date', 'Year', 'Type', 'Country', 'Area', 'Location',
       'Activity', 'Name', 'Sex', 'Age', 'Injury', 'Fatal (Y/N)', 'Time',
       'Species', 'Investigator or Source', 'pdf', 'href formula', 'href',
       'Case Number.1', 'Case Number.2', 'original order', 'Unnamed: 22',
       'Unnamed: 23']

# 2. CLEANING THE DATA

## 2.1. We start with the columns

### 2.2.1. Set the index

**The column Original Order 
seems to be the old index. As we will keep  the index of the dataframe, we will delete it**

In [86]:
data = data.drop(['original order'], axis=1)

### 2.2.2. Check if there are empty columns

**Checking the columns with more than 2000 nulls out of 5992**

In [87]:
null_cols = data.isnull().sum()
null_cols[null_cols > 2000]

Age            2681
Time           3213
Species        2934
Unnamed: 22    5991
Unnamed: 23    5990
dtype: int64

**The cols 'Unnamed: 22' and 'Unnamed: 23' have only one value and two values.
We check the values.**

In [88]:
unnamed22 = data['Unnamed: 22'].unique()
unnamed22

array([nan, 'stopped here'], dtype=object)

In [89]:
unnamed23 = data['Unnamed: 23'].unique()
unnamed23

array([nan, 'Teramo', 'change filename'], dtype=object)

**We check the values of the rows of those values.**

In [90]:
data[data['Unnamed: 22']=='stopped here']

,Case Number,Date,Year,Type,Country,Area,Location,Activity,Name,Sex,Age,Injury,Fatal (Y/N),Time,Species,Investigator or Source,pdf,href formula,href,Case Number.1,Case Number.2,Unnamed: 22,Unnamed: 23
1247,2006.06.18,18-Jun-06,2006,Unprovoked,BRAZIL,Pernambuco,"Punta Del Chifre Beach, Olinda",Body boarding,Humberto Pessoa Batista,M,27,Left thigh bitten FATAL,Y,09h00,NaN,globalsurfnews.com,2006.06.18-Batista.pdf,http://sharkattackfile.net/spreadsheets/pdf_directory/2006.06.18-Batista.pdf,http://sharkattackfile.net/spreadsheets/pdf_directory/2006.06.18-Batista.pdf,2006.06.18,2006.06.18,stopped here,NaN

In [91]:
data[data['Unnamed: 23']=='Teramo']

,Case Number,Date,Year,Type,Country,Area,Location,Activity,Name,Sex,Age,Injury,Fatal (Y/N),Time,Species,Investigator or Source,pdf,href formula,href,Case Number.1,Case Number.2,Unnamed: 22,Unnamed: 23
4182,1952.07.13,13-Jul-52,1952,Provoked,USA,California,"San Diego, San Diego County",Fishing,"Gerald Howard, on board sportsfishing boat Teresa A",M,34,Part of hand removed by shark he had caught PROVOKED INCIDENT,N,NaN,NaN,"L.A. Times, 7/14/1952",1952.07.13-Howard.pdf,http://sharkattackfile.net/spreadsheets/pdf_directory/1952.07.13-Howard.pdf,http://sharkattackfile.net/spreadsheets/pdf_directory/1952.07.13-Howard.pdf,1952.07.13,1952.07.13,NaN,Teramo

In [92]:
data[data['Unnamed: 23']=='change filename']

,Case Number,Date,Year,Type,Country,Area,Location,Activity,Name,Sex,Age,Injury,Fatal (Y/N),Time,Species,Investigator or Source,pdf,href formula,href,Case Number.1,Case Number.2,Unnamed: 22,Unnamed: 23
5585,1879.03.10,10-Mar-1879,1879,Invalid,AUSTRALIA,New South Wales,Near Sydney,The steamship Bonnie Dundee lost in collision,Cabin boy of the Bonnie Dundee,M,NaN,Partial remains found in shark,Y,NaN,NaN,"Star, 3/22/1879",1879.03.10-Bonnie-Dundee.pdf,http://sharkattackfile.net/spreadsheets/pdf_directory/1879.03.10-Bonnie-Dundee.pdf,http://sharkattackfile.net/spreadsheets/pdf_directory/1879.03.10-Bonnie-Dundee.pdf,1879.03.10,1879.03.10,NaN,change filename

**As the info in the cell seems no relevant, so we drop the columns 'Unnamed: 22' and 'Unnamed: 23'.**

In [93]:
data = data.drop(['Unnamed: 22', 'Unnamed: 23'], axis=1)

In [94]:
data.head()

,Case Number,Date,Year,Type,Country,Area,Location,Activity,Name,Sex,Age,Injury,Fatal (Y/N),Time,Species,Investigator or Source,pdf,href formula,href,Case Number.1,Case Number.2
0,2016.09.18.c,18-Sep-16,2016,Unprovoked,USA,Florida,"New Smyrna Beach, Volusia County",Surfing,male,M,16,Minor injury to thigh,N,13h00,NaN,"Orlando Sentinel, 9/19/2016",2016.09.18.c-NSB.pdf,http://sharkattackfile.net/spreadsheets/pdf_directory/2016.09.18.c-NSB.pdf,http://sharkattackfile.net/spreadsheets/pdf_directory/2016.09.18.c-NSB.pdf,2016.09.18.c,2016.09.18.c
1,2016.09.18.b,18-Sep-16,2016,Unprovoked,USA,Florida,"New Smyrna Beach, Volusia County",Surfing,Chucky Luciano,M,36,Lacerations to hands,N,11h00,NaN,"Orlando Sentinel, 9/19/2016",2016.09.18.b-Luciano.pdf,http://sharkattackfile.net/spreadsheets/pdf_directory/2016.09.18.b-Luciano.pdf,http://sharkattackfile.net/spreadsheets/pdf_directory/2016.09.18.b-Luciano.pdf,2016.09.18.b,2016.09.18.b
2,2016.09.18.a,18-Sep-16,2016,Unprovoked,USA,Florida,"New Smyrna Beach, Volusia County",Surfing,male,M,43,Lacerations to lower leg,N,10h43,NaN,"Orlando Sentinel, 9/19/2016",2016.09.18.a-NSB.pdf,http://sharkattackfile.net/spreadsheets/pdf_directory/2016.09.18.a-NSB.pdf,http://sharkattackfile.net/spreadsheets/pdf_directory/2016.09.18.a-NSB.pdf,2016.09.18.a,2016.09.18.a
3,2016.09.17,17-Sep-16,2016,Unprovoked,AUSTRALIA,Victoria,Thirteenth Beach,Surfing,Rory Angiolella,M,NaN,Struck by fin on chest & leg,N,NaN,NaN,"The Age, 9/18/2016",2016.09.17-Angiolella.pdf,http://sharkattackfile.net/spreadsheets/pdf_directory/2016.09.17-Angiolella.pdf,http://sharkattackfile.net/spreadsheets/pdf_directory/2016.09.17-Angiolella.pdf,2016.09.17,2016.09.17
4,2016.09.15,16-Sep-16,2016,Unprovoked,AUSTRALIA,Victoria,Bells Beach,Surfing,male,M,NaN,No injury: Knocked off board by shark,N,NaN,2 m shark,"The Age, 9/16/2016",2016.09.16-BellsBeach.pdf,http://sharkattackfile.net/spreadsheets/pdf_directory/2016.09.16-BellsBeach.pdf,http://sharkattackfile.net/spreadsheets/pdf_directory/2016.09.16-BellsBeach.pdf,2016.09.16,2016.09.15

### 2.2.3 Check if there are duplicate columns to delete them

**We will check if there is any duplicated comlumn**

In [95]:
#source: https://thispointer.com/how-to-find-drop-duplicate-columns-in-a-dataframe-python-pandas/
def getDuplicateColumns(df):
    duplicateColumnNames = set()
    # Iterate over all the columns in dataframe
    for x in range(df.shape[1]):
        # Select column at xth index.
        col = df.iloc[:, x]
        # Iterate over all the columns in DataFrame from (x+1)th index till end
        for y in range(x + 1, df.shape[1]):
            # Select column at yth index.
            otherCol = df.iloc[:, y]
            # Check if two columns at x 7 y index are equal
            if col.equals(otherCol):
                duplicateColumnNames.add(df.columns.values[y])
 
    return list(duplicateColumnNames)

In [96]:
getDuplicateColumns(data)

[]

**There is no complitely duplicate columns.**

**Let's check if with a function we can found possible very similar columns.**

**Create a function to detect percentage of similitud amog 2 rows**

In [97]:
def compareRows(df, col1, col2):
    eq_row = np.where(df[col1] == df[col2], 1, 0).sum()
    rows = df.shape[0] - df[col1].isnull().sum()
    per_row = round((eq_row / rows) * 100,2)
    return per_row

**Make a table comparing column to column**

In [98]:
compared_cols = pd.DataFrame()
compared_cols['index'] = data.columns
compared_cols = compared_cols.set_index('index')
for col in data.columns:
    column = list()
    for col2 in data.columns:
        column.append(compareRows(data, col, col2))
    compared_cols[col] = column

In [99]:
compared_cols

,Case Number,Date,Year,Type,Country,Area,Location,Activity,Name,Sex,Age,Injury,Fatal (Y/N),Time,Species,Investigator or Source,pdf,href formula,href,Case Number.1,Case Number.2
index,,,,,,,,,,,,,,,,,,,,,
Case Number,100.00,0.05,0.0,0.00,0.0,0.00,0.00,0.00,0.00,0.00,0.0,0.00,0.00,0.00,0.00,0.0,0.02,0.00,0.00,99.78,99.97
Date,0.05,100.00,0.0,0.00,0.0,0.00,0.00,0.00,0.00,0.00,0.0,0.00,0.00,0.00,0.00,0.0,0.00,0.00,0.00,0.05,0.05
Year,0.00,0.00,100.0,0.00,0.0,0.00,0.00,0.00,0.00,0.00,0.0,0.00,0.00,0.00,0.00,0.0,0.00,0.00,0.00,0.00,0.00
Type,0.00,0.00,0.0,100.00,0.0,0.00,0.00,0.26,0.00,0.00,0.0,0.00,0.00,0.00,0.00,0.0,0.00,0.00,0.00,0.00,0.00
Country,0.00,0.00,0.0,0.00,100.0,0.00,0.00,0.00,0.00,0.00,0.0,0.00,0.00,0.00,0.00,0.0,0.00,0.00,0.00,0.00,0.00
Area,0.00,0.00,0.0,0.00,0.0,100.00,0.13,0.00,0.00,0.00,0.0,0.00,0.00,0.00,0.00,0.0,0.00,0.00,0.00,0.00,0.00
Location,0.00,0.00,0.0,0.00,0.0,0.13,100.00,0.00,0.00,0.00,0.0,0.00,0.00,0.00,0.00,0.0,0.00,0.00,0.00,0.00,0.00
Activity,0.00,0.00,0.0,0.23,0.0,0.00,0.00,100.00,0.00,0.02,0.0,0.00,0.00,0.00,0.00,0.0,0.00,0.00,0.00,0.00,0.00
Name,0.00,0.00,0.0,0.00,0.0,0.00,0.00,0.00,100.00,0.00,0.0,0.02,0.00,0.00,0.00,0.0,0.00,0.00,0.00,0.00,0.00
Sex,0.00,0.00,0.0,0.00,0.0,0.00,0.00,0.02,0.00,100.00,0.0,0.00,0.02,0.00,0.00,0.0,0.00,0.00,0.00,0.00,0.00
Age,0.00,0.00,0.0,0.00,0.0,0.00,0.00,0.00,0.00,0.00,100.0,0.00,0.00,0.00,0.00,0.0,0.00,0.00,0.00,0.00,0.00
Injury,0.00,0.00,0.0,0.00,0.0,0.00,0.00,0.00,0.02,0.00,0.0,100.00,0.00,0.04,0.03,0.0,0.00,0.00,0.00,0.00,0.00
Fatal (Y/N),0.00,0.00,0.0,0.00,0.0,0.00,0.00,0.00,0.00,0.02,0.0,0.00,100.00,0.00,0.00,0.0,0.00,0.00,0.00,0.00,0.00
Time,0.00,0.00,0.0,0.00,0.0,0.00,0.00,0.00,0.00,0.00,0.0,0.02,0.00,100.00,0.00,0.0,0.00,0.00,0.00,0.00,0.00
Species,0.00,0.00,0.0,0.00,0.0,0.00,0.00,0.00,0.00,0.00,0.0,0.02,0.00,0.00,100.00,0.0,0.00,0.00,0.00,0.00,0.00
Investigator or Source,0.00,0.00,0.0,0.00,0.0,0.00,0.00,0.00,0.00,0.00,0.0,0.00,0.00,0.00,0.00,100.0,0.00,0.00,0.00,0.00,0.00
pdf,0.02,0.00,0.0,0.00,0.0,0.00,0.00,0.00,0.00,0.00,0.0,0.00,0.00,0.00,0.00,0.0,100.00,0.00,0.00,0.02,0.02
href formula,0.00,0.00,0.0,0.00,0.0,0.00,0.00,0.00,0.00,0.00,0.0,0.00,0.00,0.00,0.00,0.0,0.00,100.00,99.15,0.00,0.00
href,0.00,0.00,0.0,0.00,0.0,0.00,0.00,0.00,0.00,0.00,0.0,0.00,0.00,0.00,0.00,0.0,0.00,99.12,100.00,0.00,0.00
Case Number.1,99.78,0.05,0.0,0.00,0.0,0.00,0.00,0.00,0.00,0.00,0.0,0.00,0.00,0.00,0.00,0.0,0.02,0.00,0.00,100.00,99.82
Case Number.2,99.97,0.05,0.0,0.00,0.0,0.00,0.00,0.00,0.00,0.00,0.0,0.00,0.00,0.00,0.00,0.0,0.02,0.00,0.00,99.82,100.00

**Case number is very similar to Case Number.1 and Case Sumber.2**
**href and href formula are very similar too.**

**Lets chek the different values is Case number, Case Number.1 and Case Sumber.2**

In [100]:
data[['Date','Year','Sex','Case Number','Case Number.1','Case Number.2']].loc[(data['Case Number'] != data['Case Number.1'])| (data['Case Number'] != data['Case Number.2']) | (data['Case Number.1'] != data['Case Number.2'])]

,Date,Year,Sex,Case Number,Case Number.1,Case Number.2
4,16-Sep-16,2016,M,2016.09.15,2016.09.16,2016.09.15
33,Reported 14-Jul-2016,2016,M,2016.07.14.4,2016.07.14.R,2016.07.14.4
97,24-Jan-16,2016,M,2016.01.24.b,2015.01.24.b,2016.01.24.b
116,07-Nov-15,2015,F,2015.12.23,2015.11.07,2015.12.23
121,28-Oct-15,2015,M,2015.10.28.a,2015.10.28,2015.10.28.a
169,10-Jul-15,2015,M,2015.07-10,2015.07.10,2015.07.10
3296,05-Jul-67,1967,M,1967.07.05,1967/07.05,1967.07.05
3569,30-Aug-62,1962,M,"1962,08.30.b",1962.08.30.b,"1962,08.30.b"
3654,Reported 06-Sep-1961,1961,M,1961.09.02.R,"1961.09,06.R",1961.09.02.R
4177,05-Aug-52,1952,NaN,1952.08.05,1952.08.04,1952.08.05
4719,Reported 08-Feb-1934,1934,M,1934.01.08.R,1934.02.08.R,1934.02.08.R
5043,Reported to have taken place in 1919,1919,M,1900.00.00.R,1919.00.00.R,1900.00.00.R
5150,Reported 31-Jul-1911,1911,M,1911.07.31.R,1911.07.31.T,1911.07.31.R

**First I will make the columns to be type string and then replace all the comas in the Case Number, Case Number.1 and Case Number.2**
**As I guess the rules for the naming are year.month.day.victim.Reported yyyy.mm.dd.[a].[R]**

In [101]:
data[['Case Number', 'Case Number.1', 'Case Number.2']] = data[['Case Number', 'Case Number.1', 'Case Number.2']].astype(str)

In [102]:
data['Case Number']= data['Case Number'].str.replace(',', '.')

In [103]:
data['Case Number.1']= data['Case Number.1'].str.replace(',', '.')

In [104]:
data['Case Number.2']= data['Case Number.2'].str.replace(',', '.')

**I think Case Number.1 and Case Number.2 are corrections about the Case Number**

In [105]:
data[['Date','Year','Sex','Case Number','Case Number.1','Case Number.2']].loc[(data['Case Number'] != data['Case Number.1'])| (data['Case Number'] != data['Case Number.2']) | (data['Case Number.1'] != data['Case Number.2'])]

,Date,Year,Sex,Case Number,Case Number.1,Case Number.2
4,16-Sep-16,2016,M,2016.09.15,2016.09.16,2016.09.15
33,Reported 14-Jul-2016,2016,M,2016.07.14.4,2016.07.14.R,2016.07.14.4
97,24-Jan-16,2016,M,2016.01.24.b,2015.01.24.b,2016.01.24.b
116,07-Nov-15,2015,F,2015.12.23,2015.11.07,2015.12.23
121,28-Oct-15,2015,M,2015.10.28.a,2015.10.28,2015.10.28.a
169,10-Jul-15,2015,M,2015.07-10,2015.07.10,2015.07.10
3296,05-Jul-67,1967,M,1967.07.05,1967/07.05,1967.07.05
3654,Reported 06-Sep-1961,1961,M,1961.09.02.R,1961.09.06.R,1961.09.02.R
4177,05-Aug-52,1952,NaN,1952.08.05,1952.08.04,1952.08.05
4719,Reported 08-Feb-1934,1934,M,1934.01.08.R,1934.02.08.R,1934.02.08.R
5043,Reported to have taken place in 1919,1919,M,1900.00.00.R,1919.00.00.R,1900.00.00.R
5150,Reported 31-Jul-1911,1911,M,1911.07.31.R,1911.07.31.T,1911.07.31.R

**I pick the correct data from the other columns**

In [106]:
data['Case Number'].iloc[169] = data['Case Number.2'].iloc[169]

In [107]:
data['Case Number'].iloc[[4, 33, 116, 121, 3569, 3654, 4719, 5043]] = data['Case Number.1'].iloc[[4, 33, 116, 121, 3569, 3654, 4719, 5043]]

In [108]:
data[['Date','Year','Sex','Case Number','Case Number.1','Case Number.2']].loc[(data['Case Number'] != data['Case Number.1'])| (data['Case Number'] != data['Case Number.2']) | (data['Case Number.1'] != data['Case Number.2'])]

,Date,Year,Sex,Case Number,Case Number.1,Case Number.2
4,16-Sep-16,2016,M,2016.09.16,2016.09.16,2016.09.15
33,Reported 14-Jul-2016,2016,M,2016.07.14.R,2016.07.14.R,2016.07.14.4
97,24-Jan-16,2016,M,2016.01.24.b,2015.01.24.b,2016.01.24.b
116,07-Nov-15,2015,F,2015.11.07,2015.11.07,2015.12.23
121,28-Oct-15,2015,M,2015.10.28,2015.10.28,2015.10.28.a
3296,05-Jul-67,1967,M,1967.07.05,1967/07.05,1967.07.05
3654,Reported 06-Sep-1961,1961,M,1961.09.06.R,1961.09.06.R,1961.09.02.R
4177,05-Aug-52,1952,NaN,1952.08.05,1952.08.04,1952.08.05
5043,Reported to have taken place in 1919,1919,M,1919.00.00.R,1919.00.00.R,1900.00.00.R
5150,Reported 31-Jul-1911,1911,M,1911.07.31.R,1911.07.31.T,1911.07.31.R

**Now I can drop the columns Case Number.1 and Case Number.2**

In [109]:
data = data.drop(['Case Number.1', 'Case Number.2'], axis=1)

In [110]:
data.head()

,Case Number,Date,Year,Type,Country,Area,Location,Activity,Name,Sex,Age,Injury,Fatal (Y/N),Time,Species,Investigator or Source,pdf,href formula,href
0,2016.09.18.c,18-Sep-16,2016,Unprovoked,USA,Florida,"New Smyrna Beach, Volusia County",Surfing,male,M,16,Minor injury to thigh,N,13h00,NaN,"Orlando Sentinel, 9/19/2016",2016.09.18.c-NSB.pdf,http://sharkattackfile.net/spreadsheets/pdf_directory/2016.09.18.c-NSB.pdf,http://sharkattackfile.net/spreadsheets/pdf_directory/2016.09.18.c-NSB.pdf
1,2016.09.18.b,18-Sep-16,2016,Unprovoked,USA,Florida,"New Smyrna Beach, Volusia County",Surfing,Chucky Luciano,M,36,Lacerations to hands,N,11h00,NaN,"Orlando Sentinel, 9/19/2016",2016.09.18.b-Luciano.pdf,http://sharkattackfile.net/spreadsheets/pdf_directory/2016.09.18.b-Luciano.pdf,http://sharkattackfile.net/spreadsheets/pdf_directory/2016.09.18.b-Luciano.pdf
2,2016.09.18.a,18-Sep-16,2016,Unprovoked,USA,Florida,"New Smyrna Beach, Volusia County",Surfing,male,M,43,Lacerations to lower leg,N,10h43,NaN,"Orlando Sentinel, 9/19/2016",2016.09.18.a-NSB.pdf,http://sharkattackfile.net/spreadsheets/pdf_directory/2016.09.18.a-NSB.pdf,http://sharkattackfile.net/spreadsheets/pdf_directory/2016.09.18.a-NSB.pdf
3,2016.09.17,17-Sep-16,2016,Unprovoked,AUSTRALIA,Victoria,Thirteenth Beach,Surfing,Rory Angiolella,M,NaN,Struck by fin on chest & leg,N,NaN,NaN,"The Age, 9/18/2016",2016.09.17-Angiolella.pdf,http://sharkattackfile.net/spreadsheets/pdf_directory/2016.09.17-Angiolella.pdf,http://sharkattackfile.net/spreadsheets/pdf_directory/2016.09.17-Angiolella.pdf
4,2016.09.16,16-Sep-16,2016,Unprovoked,AUSTRALIA,Victoria,Bells Beach,Surfing,male,M,NaN,No injury: Knocked off board by shark,N,NaN,2 m shark,"The Age, 9/16/2016",2016.09.16-BellsBeach.pdf,http://sharkattackfile.net/spreadsheets/pdf_directory/2016.09.16-BellsBeach.pdf,http://sharkattackfile.net/spreadsheets/pdf_directory/2016.09.16-BellsBeach.pdf

**Lets chek the different values href and href formula**

In [37]:
data[['Date','Year','Sex','href','href formula','Case Number']].loc[data['href'] != data['href formula']]

,Date,Year,Sex,href,href formula,Case Number
20,29-Jul-16,2016,M,http://sharkattackfile.net/spreadsheets/pdf_directory/http://sharkattackfile.net/spreadsheets/pdf_directory/2016.07.29-Spain.pdf,http://sharkattackfile.net/spreadsheets/pdf_directory/2016.07.29-Spain.pdf,2016.07.29
27,23-Jul-16,2016,M,http://sharkattackfile.net/spreadsheets/pdf_directory/2016.07.23-Cutbirth.pdf,http://sharkattackfile.net/spreadsheets/pdf_directory/2016.07.23.a-Cutbirth.pdf,2016.07.23.a
61,21-May-16,2016,F,http://sharkattackfile.net/spreadsheets/pdf_directory/http://sharkattackfile.net/spreadsheets/pdf_directory/2016.05.21.a-Girl.pdf,http://sharkattackfile.net/spreadsheets/pdf_directory/2016.05.21.a-Girl.pdf,2016.05.21.a
107,21-Dec-15,2015,M,http://sharkattackfile.net/spreadsheets/pdf_directory/http://sharkattackfile.net/spreadsheets/pdf_directory/2015.12.21.a-Brazil.pdf,http://sharkattackfile.net/spreadsheets/pdf_directory/2015.12.21.a-Brazil.pdf,2015.12.21.a
114,15-Nov-15,2015,M,http://sharkattackfile.net/spreadsheets/pdf_directory/http://sharkattackfile.net/spreadsheets/pdf_directory/2015.11.15.a-Engelman.pdf,http://sharkattackfile.net/spreadsheets/pdf_directory/2015.11.15.a-Engelman.pdf,2015.11.15.a
134,05-Oct-15,2015,M,http://sharkattackfile.net/spreadsheets/pdf_directory/2015.10.05-Slaughter.pdf,http://sharkattackfile.net/spreadsheets/pdf_directory/2015.10.05.a-Slaughter.pdf,2015.10.05.a
180,27-Jun-15,2015,M,http://sharkattackfile.net/spreadsheets/pdf_directory/2015.06.27-Swanepoel.pdf,http://sharkattackfile.net/spreadsheets/pdf_directory/2015.06.27.a-Swanepoel.pdf,2015.06.27.a
193,13-Jun-15,2015,F,NaN,http://sharkattackfile.net/spreadsheets/pdf_directory/Court Case pending,2015.06.13
232,24-Jan-15,2015,M,http://sharkattackfile.net/spreadsheets/pdf_directory/http://sharkattackfile.net/spreadsheets/pdf_directory/2015.01.24-Murray.pdf,http://sharkattackfile.net/spreadsheets/pdf_directory/2015.01.24-Murray.pdf,2015.01.24
262,19-Oct-14,2014,F,http://sharkattackfile.net/spreadsheets/pdf_directory/http://sharkattackfile.net/spreadsheets/pdf_directory/2014.10.19-Tara.pdf,http://sharkattackfile.net/spreadsheets/pdf_directory/2014.10.19-Tara.pdf,2014.10.19
263,18-Oct-14,2014,M,http://sharkattackfile.net/spreadsheets/pdf_directory/2014.10.18-Roberson,http://sharkattackfile.net/spreadsheets/pdf_directory/2014.10.18-Roberson.pdf,2014.10.18
264,17-Oct-14,2014,F,http://sharkattackfile.net/spreadsheets/pdf_directory/2014.10.14-Bandy.pdf,"http://sharkattackfile.net/spreadsheets/pdf_directory/2014.10.17-Olsson, pdf",2014.10.17
271,03-Oct-14,2014,M,http://sharkattackfile.net/spreadsheets/pdf_directory/2014.10.02.b-Vandenberg.pdf,http://sharkattackfile.net/spreadsheets/pdf_directory/2014.10.03.b-Kayaks2.pdf,2014.10.03.b
272,03-Oct-14,2014,M,http://sharkattackfile.net/spreadsheets/pdf_directory/2014.10.02.b-Vandenberg.pdf,http://sharkattackfile.net/spreadsheets/pdf_directory/2014.10.03.a-Kayaks1.pdf,2014.10.03.a
293,12-Aug-14,2014,M,http://sharkattackfile.net/spreadsheets/pdf_directory/2014.08.12-Hayes.pdf,http://sharkattackfile.net/spreadsheets/pdf_directory/2014.08.15-Hayes.pdf,2014.08.12
305,22-Jul-14,2014,M,http://sharkattackfile.net/spreadsheets/pdf_directory/http://sharkattackfile.net/spreadsheets/pdf_directory/2014.07.22-Rintz.pdf,http://sharkattackfile.net/spreadsheets/pdf_directory/2014.07.22-Rintz.pdf,2014.07.22
323,09-Jun-14,2014,M,http://sharkattackfile.net/spreadsheets/pdf_directory/2014.06.09-Berry.pdf,http://sharkattackfile.net/spreadsheets/pdf_directory/2014.06.09.a-Berry.pdf,2014.06.09.a
347,03-Apr-14,2014,F,http://sharkattackfile.net/spreadsheets/pdf_directory/http://sharkattackfile.net/spreadsheets/pdf_directory/2014.04.03-Armstrong.pdf,http://sharkattackfile.net/spreadsheets/pdf_directory/2014.04.03-Armstrong.pdf,2014.04.03
361,07-Feb-14,2014,M,http://sharkattackfile.net/spreadsheets/pdf_directory/w014.01.25-Grant.pdf,http://sharkattackfile.net/spreadsheets/pdf_directory/2014.02.07.b-Torres.pdf,2014.02.07.b
362,07-Feb-14,2014,M,http://sharkattackfile.net/spreadsheets/pdf_directory/w014.01.25-Grant.pdf,http://sharkattackfile.net/spreadsheets/pdf_directory/2014.02.07-PorpoiseBay.pdf,2014.02.07
363,26-Jan-14,2014,M,http://sharkattackfile.net/spreadsheets/pdf_directory/w014.01.25-Grant.pdf,http://sharkattackfile.net/spreadsheets/pdf_directory/2014.01.26-O'Connor.pf,2014.01.26
364,25-Jan-14,2014,M,http://sharkattackfile.net/spreadsheets/pdf_directory/w014.01.25-Grant.pdf,http://sharkattackfile.net/spreadsheets/pdf_directory/2014.01.25-Grant,2014.01.25
365,04-Jan-14,2014,M,pdf_directory2014.01.04-Riano.pdf,http://sharkattackfile.net/spreadsheets/pdf_directory/2014.01.04-Rianto.pdf,2014.01.04
367,25-Dec-13,2013,M,http://sharkattackfile.net/spreadsheets/pdf_directory/2013.12.25-NewCaledonia.pdf,http://sharkattackfile.net/spreadsheets/pdf_directory/2013.12.25-NewCaledonia.pdf,2013.12.25
377,22-Nov-13,2013,M,http://sharkattackfile.net/spreadsheets/pdf_directory/2013.11.22-Gardiner,http://sharkattackfile.net/spreadsheets/pdf_directory/2013.11.22-Gardiner.pdf,2013.11.22
378,12-Nov-13,2013,M,http://sharkattackfile.net/spreadsheets/pdf_directory/2013.11.12-Daly,http://sharkattackfile.net/spreadsheets/pdf_directory/2013.11.12-Daly.pdf,2013.11.12
379,10-Nov-13,2013,M,http://sharkattackfile.net/spreadsheets/pdf_directory/2013.11.10-Bahamas,http://sharkattackfile.net/spreadsheets/pdf_directory/2013.11.10-Bahamas.pdf,2013.11.10
380,07-Nov-13,2013,M,http://sharkattackfile.net/spreadsheets/pdf_directory/2013.11.07.b-Gates,http://sharkattackfile.net/spreadsheets/pdf_directory/2013.11.07.b-Gates.pdf,2013.11.07.b
381,07-Nov-13,2013,M,http://sharkattackfile.net/spreadsheets/pdf_directory/2013.11.07.a-Melian,http://sharkattackfile.net/spreadsheets/pdf_directory/2013.11.07.a-Melian.pdf,2013.11.07.a
382,31-Oct-13,2013,M,http://sharkattackfile.net/spreadsheets/pdf_directory/2013.10.31-ChristianBrandon,http://sharkattackfile.net/spreadsheets/pdf_directory/2013.10.31-ChristianBrandon.pdf,2013.10.31
383,28-Oct-13,2013,F,http://sharkattackfile.net/spreadsheets/pdf_directory/2013.10.28-Simmons,http://sharkattackfile.net/spreadsheets/pdf_directory/2013.10.28-Simmons.pdf,2013.10.28
384,26-Oct-13,2013,M,http://sharkattackfile.net/spreadsheets/pdf_directory/2013.10.26.b-Tanguy,http://sharkattackfile.net/spreadsheets/pdf_directory/2013.10.26.b-Tanguy.pdf,2013.10.26.b
448,27-May-13,2013,M,http://sharkattackfile.net/spreadsheets/pdf_directory/2013.05.27.b-Ena.pdf,pdf-directory/2013.05.27.b-Ena.pdf,2013.05.27.b
449,27-May-13,2013,M,http://sharkattackfile.net/spreadsheets/pdf_directory/2013.05.27-Kirkpatrick.pdf,http://sharkattackfile.net/spreadsheets/pdf_directory/2013.05.27.a-Kirkpatrick.pdf,2013.05.27.a
823,01-Feb-10,2010,F,http://sharkattackfile.net/spreadsheets/pdf_directory/2010.02.01-Ward.pdf,http://sharkattackfile.net/spreadsheets/pdf_directory/12.26,2010.02.01
1217,22-Aug-06,2006,M,http://sharkattackfile.net/spreadsheets/pdf_directory/2006.08.22-IsaulCoba.pdf,http://sharkattackfile.net/spreadsheets/pdf_directory/2006.08.22.b-Melo.pdf,2006.08.22.b
1218,22-Aug-06,2006,M,http://sharkattackfile.net/spreadsheets/pdf_directory/2006.08.22.b-Brazil-incomplete.pdf,http://sharkattackfile.net/spreadsheets/pdf_directory/2006.08.22.a-Coba.pdf,2006.08.22.a
2274,Apr-93,1993,M,NaN,http://sharkattackfile.net/spreadsheets/pdf_directory/1993.04.00-Szolomiak.pdf,1993.04.00
2477,1989,1989,M,http://sharkattackfile.net/spreadsheets/pdf_directory/1989.00.00-Virginia-spearfisherman.pdf,http://sharkattackfile.net/spreadsheets/pdf_directory/1989.00.00.a-Virginia-spearfisherman.pdf,1989.00.00.a
3019,19-Jan-75,1975,M,http://sharkattackfile.net/spreadsheets/pdf_directory/1975.01.19-Barrowman.pdf,NaN,1975.01.19
3549,1963,1963,M,http://sharkattackfile.net/spreadsheets/pdf_directory/http://sharkattackfile.net/spreadsheets/pdf_directory/1963.00.00.a-Seychelles.pdf,http://sharkattackfile.net/spreadsheets/pdf_directory/1963.00.00.a-Seychelles.pdf,1963.00.00.a
3603,25-Mar-62,1962,M,http://sharkattackfile.net/spreadsheets/pdf_directory/http://sharkattackfile.net/spreadsheets/pdf_directory/1962.03.25.b-Luxton.pdf,http://sharkattackfile.net/spreadsheets/pdf_directory/1962.03.25.b-Luxton.pdf,1962.03.25.b
3917,31-Aug-58,1958,NaN,http://sharkattackfile.net/spreadsheets/pdf_directory/1958.08.31.a-NV-Ensenada.pdf,http://sharkattackfile.net/spreadsheets/pdf_directory/1958.08.31-NV-Ensenada.pdf,1958.08.31
3928,Jul-58,1958,M,http://sharkattackfile.net/spreadsheets/pdf_directory/1958.07.00.b - Waterman.pdf,http://sharkattackfile.net/spreadsheets/pdf_directory/1958.07.00.b-Waterman.pdf,1958.07.00.b
4394,30-Jul-45,1945,NaN,http://sharkattackfile.net/spreadsheets/pdf_directory/1945.07.30 - USS Indianapolis.pdf,http://sharkattackfile.net/spreadsheets/pdf_directory/1945.07.30-USS Indianapolis.pdf,1945.07.30
4642,Reported 04-Aug-1936,1936,M,http://sharkattackfile.net/spreadsheets/pdf_directory/http://sharkattackfile.net/spreadsheets/pdf_directory/1936.08.04.R-PearlDiver.pdf,http://sharkattackfile.net/spreadsheets/pdf_directory/1936.08.04.R-PearlDiver.pdf,1936.08.04
4668,24-Aug-35,1935,M,http://sharkattackfile.net/spreadsheets/pdf_directory/1935.08.24-Atherfield,http://sharkattackfile.net/spreadsheets/pdf_directory/1935.08.24-Atherfield.pdf,1935.08.24
4719,Reported 08-Feb-1934,1934,M,http://sharkattackfile.net/spreadsheets/pdf_directory/http://sharkattackfile.net/spreadsheets/pdf_directory/1924.02.08.R-Turkey.pdf,http://sharkattackfile.net/spreadsheets/pdf_directory/1924.02.08.R-Turkey.pdf,1934.02.08.R
5317,05-Sep-00,1900,M,http://sharkattackfile.net/spreadsheets/pdf_directory/http://sharkattackfile.net/spreadsheets/pdf_directory/1900.09.05-Hartman.pdf,http://sharkattackfile.net/spreadsheets/pdf_directory/1900.09.05-Hartman.pdf,1900.09.05
5458,06-26-1890,1890,M,http://sharkattackfile.net/spreadsheets/pdf_directory/http://sharkattackfile.net/spreadsheets/pdf_directory/1890.06.26-Mayonni.pdf,http://sharkattackfile.net/spreadsheets/pdf_directory/1890.06.26-Mayonni.pdf,1890.06.26
5686,02-Jan-1864,1864,M,NaN,http://sharkattackfile.net/spreadsheets/pdf_directory/1864.01.01-Kelsall.pdf,1864.01.02
5694,Reported 1863,1863,M,http://sharkattackfile.net/spreadsheets/pdf_directory/http://sharkattackfile.net/spreadsheets/pdf_directory/1863.00.00.R-Corfu,http://sharkattackfile.net/spreadsheets/pdf_directory/1863.00.00.R-Corfu,1863.00.00.R
5819,Reported 08-Jul-1819,1819,M,http://sharkattackfile.net/spreadsheets/pdf_directory/1819.07.08-Cadiz.pdf,http://sharkattackfile.net/spreadsheets/pdf_directory/1819.07.08.R-Cadiz.pdf,1819.07.08.R
5857,Reported 1637,1637,NaN,http://sharkattackfile.net/spreadsheets/pdf_directory/1637.00.00-Manrique.pdf,http://sharkattackfile.net/spreadsheets/pdf_directory/1637.00.00.R-Manrique.pdf,1637.00.00.R

**I assume href formula is the most accurate column for the urls, anyhow I will correct some errors**

**Take some values from href as the cell has the correct url**

In [111]:
data['href formula'].iloc[[193,293,364,448,823,3019]] =
data['href'].iloc[[193,293,364,448,823,3019]]

In [118]:
data['href formula'].iloc[363] = None

In [126]:
index_href = data['href formula'].loc[data['href formula'].str.endswith('.pdf') == False].index

In [134]:
data['href formula'].iloc[index_href]

65               http://sharkattackfile.net/spreadsheets/pdf_directory/2016.05.02-NZ-pdf
126      http://sharkattackfile.net/spreadsheets/pdf_directory/2015.10.17.b.-Hawaii. pdf
157           http://sharkattackfile.net/spreadsheets/pdf_directory/2015.08.19-Szsarmack
177          http://sharkattackfile.net/spreadsheets/pdf_directory/2015.06.30.b-Steve.pf
226         http://sharkattackfile.net/spreadsheets/pdf_directory/2015.02.14-Bishop.pdf
251      http://sharkattackfile.net/spreadsheets/pdf_directory/2014.11.20-Mauritius.pdf
252           http://sharkattackfile.net/spreadsheets/pdf_directory/2014.11.19-Freo.pdf
264         http://sharkattackfile.net/spreadsheets/pdf_directory/2014.10.17-Olsson, pdf
295      http://sharkattackfile.net/spreadsheets/pdf_directory/2014.08.09.R-Hindley, pdf
334         http://sharkattackfile.net/spreadsheets/pdf_directory/2014.05.14-McLeod, pdf
343       http://sharkattackfile.net/spreadsheets/pdf_directory/.2014.04.12.R-inflatable
352            http://sharkattackfile.net/spreadsheets/pdf_directory/2014.03.18.c-Borgna
359            http://sharkattackfile.net/spreadsheets/pdf_directory/2014.02.17.R-OneDLL
425          http://sharkattackfile.net/spreadsheets/pdf_directory/2013.07.29.a-Gatewood
1004             http://sharkattackfile.net/spreadsheets/pdf_directory/2008.07.26.a-Maui
2476         http://sharkattackfile.net/spreadsheets/pdf_directory/1989.00.00.b-Halstead
2714           http://sharkattackfile.net/spreadsheets/pdf_directory/1983.06.00-Starling
3569              http://sharkattackfile.net/spreadsheets/pdf_directory/1962.08.30.b-pdf
3987             http://sharkattackfile.net/spreadsheets/pdf_directory/1957.00.00.i-baby
4481          http://sharkattackfile.net/spreadsheets/pdf_directory/1942.07.06-Bardolini
4668    http://sharkattackfile.net/spreadsheets/pdf_directory/1935.08.24-Atherfield.pdf
5257                    http://sharkattackfile.net/spreadsheets/pdf_directory/1905.07.00
5329            http://sharkattackfile.net/spreadsheets/pdf_directory/1899.09.11.R-Guyot
5480     http://sharkattackfile.net/spreadsheets/pdf_directory/1888.10.23.R-Croatia. Pdf
5694            http://sharkattackfile.net/spreadsheets/pdf_directory/1863.00.00.R-Corfu
5834             http://sharkattackfile.net/spreadsheets/pdf_directory/1788.05.10-Sydney
5856          http://sharkattackfile.net/spreadsheets/pdf_directory/1638.00.00.R-Herbert
Name: href formula, dtype: object

In [142]:
data['href formula'] = data['href formula'].str.replace(', pdf', '.pdf')
data['href formula'] = data['href formula'].str.replace('. Pdf', '.pdf')
data['href formula'] = data['href formula'].str.replace('-pdf', '.pdf')
data['href formula'] = data['href formula'].str.replace('.pf', '.pdf')
data['href formula'] = data['href formula'].str.replace('. pdf', '.pdf')
data['href formula'] = data['href formula'].str.replace(' ','')
data['href formula'] = data['href formula'].str.replace('/ .','')

In [144]:
data['href formula'] = data['href formula'].str.replace('/.2014','/2014')

In [145]:
data['href formula'].loc[data['href formula'].str.endswith('.pdf') == False]

157        http://sharkattackfile.net/spreadsheets/pdf_directory/2015.08.19-Szsarmack
343     http://sharkattackfile.net/spreadsheets/pdf_directory/2014.04.12.R-inflatable
352         http://sharkattackfile.net/spreadsheets/pdf_directory/2014.03.18.c-Borgna
359         http://sharkattackfile.net/spreadsheets/pdf_directory/2014.02.17.R-OneDLL
425       http://sharkattackfile.net/spreadsheets/pdf_directory/2013.07.29.a-Gatewood
1004          http://sharkattackfile.net/spreadsheets/pdf_directory/2008.07.26.a-Maui
2476      http://sharkattackfile.net/spreadsheets/pdf_directory/1989.00.00.b-Halstead
2714        http://sharkattackfile.net/spreadsheets/pdf_directory/1983.06.00-Starling
3987          http://sharkattackfile.net/spreadsheets/pdf_directory/1957.00.00.i-baby
4481       http://sharkattackfile.net/spreadsheets/pdf_directory/1942.07.06-Bardolini
5257                 http://sharkattackfile.net/spreadsheets/pdf_directory/1905.07.00
5329         http://sharkattackfile.net/spreadsheets/pdf_directory/1899.09.11.R-Guyot
5694         http://sharkattackfile.net/spreadsheets/pdf_directory/1863.00.00.R-Corfu
5834          http://sharkattackfile.net/spreadsheets/pdf_directory/1788.05.10-Sydney
5856       http://sharkattackfile.net/spreadsheets/pdf_directory/1638.00.00.R-Herbert
Name: href formula, dtype: object

**The href formula is as complete and accurate I can. I'm going to delete the href column and rename the href formula column**

In [146]:
data = data.drop(['href'], axis=1)

In [149]:
data = data.rename(index=str, columns={"href formula": "url"})

In [150]:
data.head()

,Case Number,Date,Year,Type,Country,Area,Location,Activity,Name,Sex,Age,Injury,Fatal (Y/N),Time,Species,Investigator or Source,pdf,url
0,2016.09.18.c,18-Sep-16,2016,Unprovoked,USA,Florida,"New Smyrna Beach, Volusia County",Surfing,male,M,16,Minor injury to thigh,N,13h00,NaN,"Orlando Sentinel, 9/19/2016",2016.09.18.c-NSB.pdf,http://sharkattackfile.net/spreadsheets/pdf_directory/2016.09.18.c-NSB.pdf
1,2016.09.18.b,18-Sep-16,2016,Unprovoked,USA,Florida,"New Smyrna Beach, Volusia County",Surfing,Chucky Luciano,M,36,Lacerations to hands,N,11h00,NaN,"Orlando Sentinel, 9/19/2016",2016.09.18.b-Luciano.pdf,http://sharkattackfile.net/spreadsheets/pdf_directory/2016.09.18.b-Luciano.pdf
2,2016.09.18.a,18-Sep-16,2016,Unprovoked,USA,Florida,"New Smyrna Beach, Volusia County",Surfing,male,M,43,Lacerations to lower leg,N,10h43,NaN,"Orlando Sentinel, 9/19/2016",2016.09.18.a-NSB.pdf,http://sharkattackfile.net/spreadsheets/pdf_directory/2016.09.18.a-NSB.pdf
3,2016.09.17,17-Sep-16,2016,Unprovoked,AUSTRALIA,Victoria,Thirteenth Beach,Surfing,Rory Angiolella,M,NaN,Struck by fin on chest & leg,N,NaN,NaN,"The Age, 9/18/2016",2016.09.17-Angiolella.pdf,http://sharkattackfile.net/spreadsheets/pdf_directory/2016.09.17-Angiolella.pdf
4,2016.09.16,16-Sep-16,2016,Unprovoked,AUSTRALIA,Victoria,Bells Beach,Surfing,male,M,NaN,No injury: Knocked off board by shark,N,NaN,2 m shark,"The Age, 9/16/2016",2016.09.16-BellsBeach.pdf,http://sharkattackfile.net/spreadsheets/pdf_directory/2016.09.16-BellsBeach.pdf

### 2.2.3 Columns with a lot of Null Values

**Three more columns have a lot of Nulls, we check them: Age, Time, Species.**

In [155]:
null_cols_data = data[['Age','Time','Species']]

In [156]:
null_cols_data.head()

   Age   Time    Species
0   16  13h00        NaN
1   36  11h00        NaN
2   43  10h43        NaN
3  NaN    NaN        NaN
4  NaN    NaN  2 m shark

**Lests check the different values of Age**

In [177]:
data['Age'].unique()

array([16., 36., 43., nan, 51., 50., 12.,  9., 22., 25., 37., 20., 49.,
       15., 21., 40., 72., 18., 29., 31., 11., 10., 59., 42., 34., 35.,
       19.,  6., 27., 64., 60., 23., 52., 13., 57., 48., 39., 24., 26.,
       69., 46., 41., 45., 65., 38., 71., 32., 58., 28., 54., 44., 14.,
        7., 62., 68., 47., 17., 30., 63., 70., 53., 33.,  8., 61., 55.,
       66., 77., 74.,  3., 56.,  5., 86., 84., 75., 73., 87., 67.,  1.,
       81., 78.])

**I will change all the non numeric values by NaN**

In [178]:
data['Age'] = pd.to_numeric(data['Age'], errors='coerce')

In [179]:
data['Age'].unique()

array([16., 36., 43., nan, 51., 50., 12.,  9., 22., 25., 37., 20., 49.,
       15., 21., 40., 72., 18., 29., 31., 11., 10., 59., 42., 34., 35.,
       19.,  6., 27., 64., 60., 23., 52., 13., 57., 48., 39., 24., 26.,
       69., 46., 41., 45., 65., 38., 71., 32., 58., 28., 54., 44., 14.,
        7., 62., 68., 47., 17., 30., 63., 70., 53., 33.,  8., 61., 55.,
       66., 77., 74.,  3., 56.,  5., 86., 84., 75., 73., 87., 67.,  1.,
       81., 78.])

**Lests check the different values of Time**

In [190]:
data['Time'].unique()

array(['13h00', '11h00', '10h43', nan, '15h15', '14h30', '15h40',
       'Late afternoon', '15h00', '14h00', '17h00', '16h00', '11h30',
       '12h00', '19h05', 'After noon', '1300', '10h00', '14h30 / 15h30',
       '22h00', '16h20', '14h34', '15h25', '14h55', '06h00', '17h30',
       '08h30', 'Morning', 'Afternoon', '15h45', '18h00', '17h46',
       'Morning ', '13h20', '15h49', '07h00', '08h00', '10h45', '19h00',
       '13h30', 'Midnight', '12h30', '09h30 / 10h00', '10h30', '18h15',
       '04h00', '14h50', '13h50', '19h20', '10h25', '16h50',
       '10h45-11h15', '16h45', '15h52', '07h30', '06h15', '14h40',
       '19h45', '17h10', '15h30', '10h10', '08h45', 'Evening', '09h00',
       '12h10', '18h05', '19h30', '11h41', '12h25', '09h30', '17h51',
       '16h12', '12h45', '10h50', '13h45', '14h15', '16h30', '09h45',
       '11h45', '10h20', '18h30', '06h45', '05h00', '03h30', 'Night',
       'Sometime between 06h00 & 08hoo', '06h30', '11h15', '17h20',
       '18h45', '20h00', '16h40', '16h18', '11h10', 'Early afternoon',
       '17h50', '07h00 - 08h00', '18h15-18h30', '17h01', '10h15', '09h57',
       '08h20', '17h58', '20h30', '15h19', '10h55', '15h55', '23h00',
       '12h40', '13h55', '16h05', '14h10', '15h20', '12h50', '14h45',
       '13h40', '13h24', '09h00 - 09h30', '830', '09h40', '11h40',
       '08h10', '15h56', '14h20', 'Just before noon', '07h56', '1600',
       '17h17', '16h35', '09h05', '07h15', '07h20', '19h28', '12h38',
       '05h50', '15h50', '11h05', 'Early morning', 'Dawn', '05h45',
       '13h25', '09h50', '12h20', '13h26', '09h11', '12h15', '13h15',
       'Midday', '17h45', '18h20', '10h40', '15h35', 'AM', '13h51',
       '08h50', 'A.M.', '08h05', '19h15', '10h35', '15h44', 'Dusk',
       '21h00', 'Lunchtime', '15j45', '09h35', '10h27', '10h16', '500',
       '07h45', 'Before 07h00', '09h20', '10h00 -- 11h00', '12h05',
       '14h21', '18h50', '15h53', '"Just before 11h00"', '11h115',
       '08h15', '13h42', '20h15', '12h39', '17h35', '07h05', 'Sunset',
       '  ', '13h05', '11h50', '"Evening"', 'Just before sundown',
       '17h55', '22h30', '17h15', '16h10', '11h30 ', '06h10', '16h15',
       'Between 05h00 and 08h00', '07h08', '17h00 or 17h40', '03h00',
       '>08h00', '--', '12h02', '12h55', '16h14', '17h11', '00h30',
       '14h37', '10h07', '13h53', '11h55', '13h23', 'Just after 12h00',
       '02h30', '08h40', '11h56', '14h35', ' ', 'Early Morning', '07h50',
       'Shortly after midnight', '14h25', '13h345', '\xa0 ', '06h47',
       '09h00 -10h00', '20h45 (Sunset)', '02h00', 'Late morning', 'P.M.',
       '18h40', '13h14', '13h06', '11h20', 'Shortly before 13h00',
       '12h34', '11h53', '8:04 PM', '12h46', '12h48', '17h42', '12h35',
       'Possibly same incident as 2000.08.21', 'After Dusk', '11h57',
       'Noon', '17h40', '11h25', '18h25', '10h28', '09h15', '14h16',
       '09h55', '2 hours after Opperman', '15h05', '09h30 ',
       'Mid afternoon', 'Mid morning', '11h48', '11h00 / 11h30', '07h19',
       '13h37', '11h06', '"Night"', '18h30?', '11h58', '11h51', '18h12',
       '07h10', '07h40', '12h33', '30 minutes after 1992.07.08.a',
       '>06h45', '15h06', '12h54', 'Between 06h00 & 07h20', '16h55',
       '05h40', '<07h30', '21h30', '17h00 Sunset', 'Nightfall', 'X',
       '08h57', '18h30 (Sunset)', '06j00', '08h35', '10h22', '02h45',
       'Prior to 10h37', 'Daybreak', '18h10', '>12h00', 'Mid-morning',
       '08h55', '16h30 or 18h00', 'Just before dawn', ' 14h00', 'Daytime',
       '06h50', '01h00', 'Dark', '10h00 / 11h00', '"After lunch"',
       '23h30', '07h32', '15h00 or 15h45', '>17h00', '19h00 / 20h00',
       '12h45 / 13h45', '14h00 - 15h00', 'night', '03h45 - 04h00',
       '13h10', '09h30 / 15h30', '08h00 / 09h30', '19h35',
       '12h00 to 14h00', '13h35', 'Late night', '01h32', '10h30 or 13h30',
       '16h23', '15h00j', 'Midday.', '"After dark"', '10h00 or 14h00',
       '19h10', '16h25', '2 hrs before sunset', '18h15 to 21h30', '1500',
       '"shortly before dusk"', '>17h30', '>14h30',
       'Between 11h00 & 12h00', 'After 04h00',
       '11h01 -time of ship sinking', 'Ship aban-doned at 03h10', '19h55',
       'After dusk',
       'FATAL  (Wire netting installed at local beaches after this incident.)',
       '01h30', 'After midnight', 'Late afternon', '05h30', '08h58',
       '"Early evening"', 'Late Afternoon', '   ', 'Before daybreak',
       'dusk', 'Before 10h30', '06h00 -- 07h00', '01h50', '17h00-18h00',
       '19h00-20h00'], dtype=object)

In [194]:
data['Time'].unique()

array([nan])

**Lests check the different values of species**

In [ ]:
data['Species'].unique()

**Even though the columns have a lot of nulls, they seem valuable so we will keep them for now.**

In [ ]:
data = data.drop(['Case Number.1', 'Case Number.2'], axis=1)

In [ ]:
data.head()

In [ ]:
data = data.drop(['href formula'], axis=1)

In [ ]:
data.head()

**Let's Work with the column YEAR**

** We are going to check the unique values of the field **

In [ ]:
data['Year'].unique()

**Clearely we can see 4 errors. 3 Possible errors in values 500, 77 and 5.
And the value 0 that is maybe a Null value.**

In [ ]:
data.loc[(data['Year'] == 500) | (data['Year'] == 77) |  (data['Year'] == 5)]

In [ ]:
data.loc[(data['Year'] == 0)]

**The pdf file has the year at the begginging of the namefile, let's check if there is any error**

In [ ]:
data[['Year','pdf']].sort_values(by=['pdf'], ascending=True)

In [ ]:
data[['Year','pdf']].loc[data['Year'] == 0].sort_values(by=['pdf'], ascending=False)

## 2.2. We continue with the rows

### Check the duplicates rows

In [ ]:
duplicate_rows = data[data.duplicated(['Date', 'Year', 'Type', 'Country', 'Area', 'Location',
       'Activity', 'Name', 'Sex ', 'Age', 'Injury', 'Fatal (Y/N)', 'Time',
       'Species', 'Investigator or Source'])]

In [ ]:
duplicate_rows

In [ ]:
data.loc[(data['Country'] == 'USA') & (data['Area'] == 'Hawaii') 
         & (data['Year'] == 1943) & (data['Activity'] == 'Spearfishing')]

We see that the row has "2 males" in name, so that is why the row is probably duplicate.

We won't delet the rows.