#Â 0. Environment

### Import Modules

In [72]:
import pandas as pd
import numpy as np
import pandas_profiling
pd.set_option('display.max_columns',None)
pd.set_option('display.max_colwidth', 200)

### Import CSV

In [73]:
data = pd.read_csv('GSAF5.csv',encoding='iso8859-1')

# 1. Checking the DataFrame

In [74]:
data.head()

,Case Number,Date,Year,Type,Country,Area,Location,Activity,Name,Sex,Age,Injury,Fatal (Y/N),Time,Species,Investigator or Source,pdf,href formula,href,Case Number.1,Case Number.2,original order,Unnamed: 22,Unnamed: 23
0,2016.09.18.c,18-Sep-16,2016,Unprovoked,USA,Florida,"New Smyrna Beach, Volusia County",Surfing,male,M,16,Minor injury to thigh,N,13h00,NaN,"Orlando Sentinel, 9/19/2016",2016.09.18.c-NSB.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2016.09.18.c,2016.09.18.c,5993,NaN,NaN
1,2016.09.18.b,18-Sep-16,2016,Unprovoked,USA,Florida,"New Smyrna Beach, Volusia County",Surfing,Chucky Luciano,M,36,Lacerations to hands,N,11h00,NaN,"Orlando Sentinel, 9/19/2016",2016.09.18.b-Luciano.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2016.09.18.b,2016.09.18.b,5992,NaN,NaN
2,2016.09.18.a,18-Sep-16,2016,Unprovoked,USA,Florida,"New Smyrna Beach, Volusia County",Surfing,male,M,43,Lacerations to lower leg,N,10h43,NaN,"Orlando Sentinel, 9/19/2016",2016.09.18.a-NSB.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2016.09.18.a,2016.09.18.a,5991,NaN,NaN
3,2016.09.17,17-Sep-16,2016,Unprovoked,AUSTRALIA,Victoria,Thirteenth Beach,Surfing,Rory Angiolella,M,NaN,Struck by fin on chest & leg,N,NaN,NaN,"The Age, 9/18/2016",2016.09.17-Angiolella.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2016.09.17,2016.09.17,5990,NaN,NaN
4,2016.09.15,16-Sep-16,2016,Unprovoked,AUSTRALIA,Victoria,Bells Beach,Surfing,male,M,NaN,No injury: Knocked off board by shark,N,NaN,2 m shark,"The Age, 9/16/2016",2016.09.16-BellsBeach.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2016.09.16,2016.09.15,5989,NaN,NaN

In [75]:
data.describe().T

,count,mean,std,min,25%,50%,75%,max
Year,5992.0,1925.204606,286.473712,0.0,1942.00,1975.0,2003.00,2016.0
original order,5992.0,2997.548899,1729.860210,2.0,1499.75,2997.5,4495.25,5993.0

In [76]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5992 entries, 0 to 5991
Data columns (total 24 columns):
Case Number               5992 non-null object
Date                      5992 non-null object
Year                      5992 non-null int64
Type                      5992 non-null object
Country                   5949 non-null object
Area                      5590 non-null object
Location                  5496 non-null object
Activity                  5465 non-null object
Name                      5792 non-null object
Sex                       5425 non-null object
Age                       3311 non-null object
Injury                    5965 non-null object
Fatal (Y/N)               5973 non-null object
Time                      2779 non-null object
Species                   3058 non-null object
Investigator or Source    5977 non-null object
pdf                       5992 non-null object
href formula              5991 non-null object
href                      5989 non-null object
Case Number.1             5992 non-null object
Case Number.2             5992 non-null object
original order            5992 non-null int64
Unnamed: 22               1 non-null object
Unnamed: 23               2 non-null object
dtypes: int64(2), object(22)
memory usage: 1.1+ MB

In [77]:
data.shape

(5992, 24)

In [78]:
data.dtypes

Case Number               object
Date                      object
Year                       int64
Type                      object
Country                   object
Area                      object
Location                  object
Activity                  object
Name                      object
Sex                       object
Age                       object
Injury                    object
Fatal (Y/N)               object
Time                      object
Species                   object
Investigator or Source    object
pdf                       object
href formula              object
href                      object
Case Number.1             object
Case Number.2             object
original order             int64
Unnamed: 22               object
Unnamed: 23               object
dtype: object

In [79]:
data.columns

Index(['Case Number', 'Date', 'Year', 'Type', 'Country', 'Area', 'Location',
       'Activity', 'Name', 'Sex ', 'Age', 'Injury', 'Fatal (Y/N)', 'Time',
       'Species ', 'Investigator or Source', 'pdf', 'href formula', 'href',
       'Case Number.1', 'Case Number.2', 'original order', 'Unnamed: 22',
       'Unnamed: 23'],
      dtype='object')

**The column Species and Sex have spaces at the end on the name, we are going to take them out**

In [80]:
data.columns = ['Case Number', 'Date', 'Year', 'Type', 'Country', 'Area', 'Location',
       'Activity', 'Name', 'Sex', 'Age', 'Injury', 'Fatal (Y/N)', 'Time',
       'Species', 'Investigator or Source', 'pdf', 'href formula', 'href',
       'Case Number.1', 'Case Number.2', 'original order', 'Unnamed: 22',
       'Unnamed: 23']

In [81]:
#data.profile_report()

# 2. CLEANING THE DATA

## 2.1. We start with the columns

### 2.2.1. Set the index

**The column Original Order 
seems to be the old index. As we will keep  the index of the dataframe, we will delete it**

In [82]:
data = data.drop(['original order'], axis=1)

### 2.2.2. Check if there are empty columns

**Checking the columns with more than 2000 nulls out of 5992**

In [83]:
null_cols = data.isnull().sum()
null_cols[null_cols > 2000]

Age            2681
Time           3213
Species        2934
Unnamed: 22    5991
Unnamed: 23    5990
dtype: int64

**The cols 'Unnamed: 22' and 'Unnamed: 23' have only one value and two values.
We check the values.**

In [84]:
unnamed22 = data['Unnamed: 22'].unique()
unnamed22

array([nan, 'stopped here'], dtype=object)

In [85]:
unnamed23 = data['Unnamed: 23'].unique()
unnamed23

array([nan, 'Teramo', 'change filename'], dtype=object)

**We check the values of the rows of those values.**

In [86]:
data[data['Unnamed: 22']=='stopped here']

,Case Number,Date,Year,Type,Country,Area,Location,Activity,Name,Sex,Age,Injury,Fatal (Y/N),Time,Species,Investigator or Source,pdf,href formula,href,Case Number.1,Case Number.2,Unnamed: 22,Unnamed: 23
1247,2006.06.18,18-Jun-06,2006,Unprovoked,BRAZIL,Pernambuco,"Punta Del Chifre Beach, Olinda",Body boarding,Humberto Pessoa Batista,M,27,Left thigh bitten FATAL,Y,09h00,NaN,globalsurfnews.com,2006.06.18-Batista.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2006.06.18,2006.06.18,stopped here,NaN

In [87]:
data[data['Unnamed: 23']=='Teramo']

,Case Number,Date,Year,Type,Country,Area,Location,Activity,Name,Sex,Age,Injury,Fatal (Y/N),Time,Species,Investigator or Source,pdf,href formula,href,Case Number.1,Case Number.2,Unnamed: 22,Unnamed: 23
4182,1952.07.13,13-Jul-52,1952,Provoked,USA,California,"San Diego, San Diego County",Fishing,"Gerald Howard, on board sportsfishing boat Ter...",M,34,Part of hand removed by shark he had caught PR...,N,NaN,NaN,"L.A. Times, 7/14/1952",1952.07.13-Howard.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,1952.07.13,1952.07.13,NaN,Teramo

In [88]:
data[data['Unnamed: 23']=='change filename']

,Case Number,Date,Year,Type,Country,Area,Location,Activity,Name,Sex,Age,Injury,Fatal (Y/N),Time,Species,Investigator or Source,pdf,href formula,href,Case Number.1,Case Number.2,Unnamed: 22,Unnamed: 23
5585,1879.03.10,10-Mar-1879,1879,Invalid,AUSTRALIA,New South Wales,Near Sydney,The steamship Bonnie Dundee lost in collision,Cabin boy of the Bonnie Dundee,M,NaN,Partial remains found in shark,Y,NaN,NaN,"Star, 3/22/1879",1879.03.10-Bonnie-Dundee.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,1879.03.10,1879.03.10,NaN,change filename

**As the info in the cell seems no relevant, so we drop the columns 'Unnamed: 22' and 'Unnamed: 23'.**

In [89]:
data = data.drop(['Unnamed: 22', 'Unnamed: 23'], axis=1)

In [90]:
data.head()

,Case Number,Date,Year,Type,Country,Area,Location,Activity,Name,Sex,Age,Injury,Fatal (Y/N),Time,Species,Investigator or Source,pdf,href formula,href,Case Number.1,Case Number.2
0,2016.09.18.c,18-Sep-16,2016,Unprovoked,USA,Florida,"New Smyrna Beach, Volusia County",Surfing,male,M,16,Minor injury to thigh,N,13h00,NaN,"Orlando Sentinel, 9/19/2016",2016.09.18.c-NSB.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2016.09.18.c,2016.09.18.c
1,2016.09.18.b,18-Sep-16,2016,Unprovoked,USA,Florida,"New Smyrna Beach, Volusia County",Surfing,Chucky Luciano,M,36,Lacerations to hands,N,11h00,NaN,"Orlando Sentinel, 9/19/2016",2016.09.18.b-Luciano.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2016.09.18.b,2016.09.18.b
2,2016.09.18.a,18-Sep-16,2016,Unprovoked,USA,Florida,"New Smyrna Beach, Volusia County",Surfing,male,M,43,Lacerations to lower leg,N,10h43,NaN,"Orlando Sentinel, 9/19/2016",2016.09.18.a-NSB.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2016.09.18.a,2016.09.18.a
3,2016.09.17,17-Sep-16,2016,Unprovoked,AUSTRALIA,Victoria,Thirteenth Beach,Surfing,Rory Angiolella,M,NaN,Struck by fin on chest & leg,N,NaN,NaN,"The Age, 9/18/2016",2016.09.17-Angiolella.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2016.09.17,2016.09.17
4,2016.09.15,16-Sep-16,2016,Unprovoked,AUSTRALIA,Victoria,Bells Beach,Surfing,male,M,NaN,No injury: Knocked off board by shark,N,NaN,2 m shark,"The Age, 9/16/2016",2016.09.16-BellsBeach.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2016.09.16,2016.09.15

### 2.2.3 Check if there are duplicate columns to delete them

**We will check if there is any duplicated comlumn**

In [91]:
#source: https://thispointer.com/how-to-find-drop-duplicate-columns-in-a-dataframe-python-pandas/
def getDuplicateColumns(df):
    duplicateColumnNames = set()
    # Iterate over all the columns in dataframe
    for x in range(df.shape[1]):
        # Select column at xth index.
        col = df.iloc[:, x]
        # Iterate over all the columns in DataFrame from (x+1)th index till end
        for y in range(x + 1, df.shape[1]):
            # Select column at yth index.
            otherCol = df.iloc[:, y]
            # Check if two columns at x 7 y index are equal
            if col.equals(otherCol):
                duplicateColumnNames.add(df.columns.values[y])
 
    return list(duplicateColumnNames)

In [92]:
getDuplicateColumns(data)

[]

**There is no complitely duplicate columns.**

**Let's check if with a function we can found possible very similar columns.**

**Create a function to detect percentage of similitud amog 2 rows**

In [93]:
def compareRows(df, col1, col2):
    eq_row = np.where(df[col1] == df[col2], 1, 0).sum()
    rows = df.shape[0] - df[col1].isnull().sum()
    per_row = round((eq_row / rows) * 100,2)
    return per_row

**Make a table comparing column to column**

In [94]:
compared_cols = pd.DataFrame()
compared_cols['index'] = data.columns
compared_cols = compared_cols.set_index('index')
for col in data.columns:
    column = list()
    for col2 in data.columns:
        column.append(compareRows(data, col, col2))
    compared_cols[col] = column

In [95]:
compared_cols

,Case Number,Date,Year,Type,Country,Area,Location,Activity,Name,Sex,Age,Injury,Fatal (Y/N),Time,Species,Investigator or Source,pdf,href formula,href,Case Number.1,Case Number.2
index,,,,,,,,,,,,,,,,,,,,,
Case Number,100.00,0.05,0.0,0.00,0.0,0.00,0.00,0.00,0.00,0.00,0.0,0.00,0.00,0.00,0.00,0.0,0.02,0.00,0.00,99.78,99.97
Date,0.05,100.00,0.0,0.00,0.0,0.00,0.00,0.00,0.00,0.00,0.0,0.00,0.00,0.00,0.00,0.0,0.00,0.00,0.00,0.05,0.05
Year,0.00,0.00,100.0,0.00,0.0,0.00,0.00,0.00,0.00,0.00,0.0,0.00,0.00,0.00,0.00,0.0,0.00,0.00,0.00,0.00,0.00
Type,0.00,0.00,0.0,100.00,0.0,0.00,0.00,0.26,0.00,0.00,0.0,0.00,0.00,0.00,0.00,0.0,0.00,0.00,0.00,0.00,0.00
Country,0.00,0.00,0.0,0.00,100.0,0.00,0.00,0.00,0.00,0.00,0.0,0.00,0.00,0.00,0.00,0.0,0.00,0.00,0.00,0.00,0.00
Area,0.00,0.00,0.0,0.00,0.0,100.00,0.13,0.00,0.00,0.00,0.0,0.00,0.00,0.00,0.00,0.0,0.00,0.00,0.00,0.00,0.00
Location,0.00,0.00,0.0,0.00,0.0,0.13,100.00,0.00,0.00,0.00,0.0,0.00,0.00,0.00,0.00,0.0,0.00,0.00,0.00,0.00,0.00
Activity,0.00,0.00,0.0,0.23,0.0,0.00,0.00,100.00,0.00,0.02,0.0,0.00,0.00,0.00,0.00,0.0,0.00,0.00,0.00,0.00,0.00
Name,0.00,0.00,0.0,0.00,0.0,0.00,0.00,0.00,100.00,0.00,0.0,0.02,0.00,0.00,0.00,0.0,0.00,0.00,0.00,0.00,0.00
Sex,0.00,0.00,0.0,0.00,0.0,0.00,0.00,0.02,0.00,100.00,0.0,0.00,0.02,0.00,0.00,0.0,0.00,0.00,0.00,0.00,0.00
Age,0.00,0.00,0.0,0.00,0.0,0.00,0.00,0.00,0.00,0.00,100.0,0.00,0.00,0.00,0.00,0.0,0.00,0.00,0.00,0.00,0.00
Injury,0.00,0.00,0.0,0.00,0.0,0.00,0.00,0.00,0.02,0.00,0.0,100.00,0.00,0.04,0.03,0.0,0.00,0.00,0.00,0.00,0.00
Fatal (Y/N),0.00,0.00,0.0,0.00,0.0,0.00,0.00,0.00,0.00,0.02,0.0,0.00,100.00,0.00,0.00,0.0,0.00,0.00,0.00,0.00,0.00
Time,0.00,0.00,0.0,0.00,0.0,0.00,0.00,0.00,0.00,0.00,0.0,0.02,0.00,100.00,0.00,0.0,0.00,0.00,0.00,0.00,0.00
Species,0.00,0.00,0.0,0.00,0.0,0.00,0.00,0.00,0.00,0.00,0.0,0.02,0.00,0.00,100.00,0.0,0.00,0.00,0.00,0.00,0.00
Investigator or Source,0.00,0.00,0.0,0.00,0.0,0.00,0.00,0.00,0.00,0.00,0.0,0.00,0.00,0.00,0.00,100.0,0.00,0.00,0.00,0.00,0.00
pdf,0.02,0.00,0.0,0.00,0.0,0.00,0.00,0.00,0.00,0.00,0.0,0.00,0.00,0.00,0.00,0.0,100.00,0.00,0.00,0.02,0.02
href formula,0.00,0.00,0.0,0.00,0.0,0.00,0.00,0.00,0.00,0.00,0.0,0.00,0.00,0.00,0.00,0.0,0.00,100.00,99.15,0.00,0.00
href,0.00,0.00,0.0,0.00,0.0,0.00,0.00,0.00,0.00,0.00,0.0,0.00,0.00,0.00,0.00,0.0,0.00,99.12,100.00,0.00,0.00
Case Number.1,99.78,0.05,0.0,0.00,0.0,0.00,0.00,0.00,0.00,0.00,0.0,0.00,0.00,0.00,0.00,0.0,0.02,0.00,0.00,100.00,99.82
Case Number.2,99.97,0.05,0.0,0.00,0.0,0.00,0.00,0.00,0.00,0.00,0.0,0.00,0.00,0.00,0.00,0.0,0.02,0.00,0.00,99.82,100.00

**Case number is very similar to Case Number.1 and Case Sumber.2**
**href and href formula are very similar too.**

**Lets chek the different values is Case number, Case Number.1 and Case Sumber.2**

In [96]:
data[['Date','Year','Sex','Case Number','Case Number.1','Case Number.2']].loc[(data['Case Number'] != data['Case Number.1'])| (data['Case Number'] != data['Case Number.2']) | (data['Case Number.1'] != data['Case Number.2'])]

,Date,Year,Sex,Case Number,Case Number.1,Case Number.2
4,16-Sep-16,2016,M,2016.09.15,2016.09.16,2016.09.15
33,Reported 14-Jul-2016,2016,M,2016.07.14.4,2016.07.14.R,2016.07.14.4
97,24-Jan-16,2016,M,2016.01.24.b,2015.01.24.b,2016.01.24.b
116,07-Nov-15,2015,F,2015.12.23,2015.11.07,2015.12.23
121,28-Oct-15,2015,M,2015.10.28.a,2015.10.28,2015.10.28.a
169,10-Jul-15,2015,M,2015.07-10,2015.07.10,2015.07.10
3296,05-Jul-67,1967,M,1967.07.05,1967/07.05,1967.07.05
3569,30-Aug-62,1962,M,"1962,08.30.b",1962.08.30.b,"1962,08.30.b"
3654,Reported 06-Sep-1961,1961,M,1961.09.02.R,"1961.09,06.R",1961.09.02.R
4177,05-Aug-52,1952,NaN,1952.08.05,1952.08.04,1952.08.05
4719,Reported 08-Feb-1934,1934,M,1934.01.08.R,1934.02.08.R,1934.02.08.R
5043,Reported to have taken place in 1919,1919,M,1900.00.00.R,1919.00.00.R,1900.00.00.R
5150,Reported 31-Jul-1911,1911,M,1911.07.31.R,1911.07.31.T,1911.07.31.R

**First I will make the columns to be type string and then replace all the comas in the Case Number, Case Number.1 and Case Number.2**
**As I guess the rules for the naming are year.month.day.victim.Reported yyyy.mm.dd.[a].[R]**

In [97]:
data[['Case Number', 'Case Number.1', 'Case Number.2']] = data[['Case Number', 'Case Number.1', 'Case Number.2']].astype(str)

In [98]:
data['Case Number']= data['Case Number'].str.replace(',', '.')

In [99]:
data['Case Number.1']= data['Case Number.1'].str.replace(',', '.')

In [100]:
data['Case Number.2']= data['Case Number.2'].str.replace(',', '.')

**I think Case Number.1 and Case Number.2 are corrections about the Case Number**

In [101]:
data[['Date','Year','Sex','Case Number','Case Number.1','Case Number.2']].loc[(data['Case Number'] != data['Case Number.1'])| (data['Case Number'] != data['Case Number.2']) | (data['Case Number.1'] != data['Case Number.2'])]

,Date,Year,Sex,Case Number,Case Number.1,Case Number.2
4,16-Sep-16,2016,M,2016.09.15,2016.09.16,2016.09.15
33,Reported 14-Jul-2016,2016,M,2016.07.14.4,2016.07.14.R,2016.07.14.4
97,24-Jan-16,2016,M,2016.01.24.b,2015.01.24.b,2016.01.24.b
116,07-Nov-15,2015,F,2015.12.23,2015.11.07,2015.12.23
121,28-Oct-15,2015,M,2015.10.28.a,2015.10.28,2015.10.28.a
169,10-Jul-15,2015,M,2015.07-10,2015.07.10,2015.07.10
3296,05-Jul-67,1967,M,1967.07.05,1967/07.05,1967.07.05
3654,Reported 06-Sep-1961,1961,M,1961.09.02.R,1961.09.06.R,1961.09.02.R
4177,05-Aug-52,1952,NaN,1952.08.05,1952.08.04,1952.08.05
4719,Reported 08-Feb-1934,1934,M,1934.01.08.R,1934.02.08.R,1934.02.08.R
5043,Reported to have taken place in 1919,1919,M,1900.00.00.R,1919.00.00.R,1900.00.00.R
5150,Reported 31-Jul-1911,1911,M,1911.07.31.R,1911.07.31.T,1911.07.31.R

**I pick the correct data from the other columns**

In [102]:
data['Case Number'].iloc[169] = data['Case Number.2'].iloc[169]

In [103]:
data['Case Number'].iloc[[4, 33, 116, 121, 3569, 3654, 4719, 5043]] = data['Case Number.1'].iloc[[4, 33, 116, 121, 3569, 3654, 4719, 5043]]

In [104]:
data[['Date','Year','Sex','Case Number','Case Number.1','Case Number.2']].loc[(data['Case Number'] != data['Case Number.1'])| (data['Case Number'] != data['Case Number.2']) | (data['Case Number.1'] != data['Case Number.2'])]

,Date,Year,Sex,Case Number,Case Number.1,Case Number.2
4,16-Sep-16,2016,M,2016.09.16,2016.09.16,2016.09.15
33,Reported 14-Jul-2016,2016,M,2016.07.14.R,2016.07.14.R,2016.07.14.4
97,24-Jan-16,2016,M,2016.01.24.b,2015.01.24.b,2016.01.24.b
116,07-Nov-15,2015,F,2015.11.07,2015.11.07,2015.12.23
121,28-Oct-15,2015,M,2015.10.28,2015.10.28,2015.10.28.a
3296,05-Jul-67,1967,M,1967.07.05,1967/07.05,1967.07.05
3654,Reported 06-Sep-1961,1961,M,1961.09.06.R,1961.09.06.R,1961.09.02.R
4177,05-Aug-52,1952,NaN,1952.08.05,1952.08.04,1952.08.05
5043,Reported to have taken place in 1919,1919,M,1919.00.00.R,1919.00.00.R,1900.00.00.R
5150,Reported 31-Jul-1911,1911,M,1911.07.31.R,1911.07.31.T,1911.07.31.R

**Now I can drop the columns Case Number.1 and Case Number.2**

In [105]:
data = data.drop(['Case Number.1', 'Case Number.2'], axis=1)

In [106]:
data.head()

,Case Number,Date,Year,Type,Country,Area,Location,Activity,Name,Sex,Age,Injury,Fatal (Y/N),Time,Species,Investigator or Source,pdf,href formula,href
0,2016.09.18.c,18-Sep-16,2016,Unprovoked,USA,Florida,"New Smyrna Beach, Volusia County",Surfing,male,M,16,Minor injury to thigh,N,13h00,NaN,"Orlando Sentinel, 9/19/2016",2016.09.18.c-NSB.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...
1,2016.09.18.b,18-Sep-16,2016,Unprovoked,USA,Florida,"New Smyrna Beach, Volusia County",Surfing,Chucky Luciano,M,36,Lacerations to hands,N,11h00,NaN,"Orlando Sentinel, 9/19/2016",2016.09.18.b-Luciano.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...
2,2016.09.18.a,18-Sep-16,2016,Unprovoked,USA,Florida,"New Smyrna Beach, Volusia County",Surfing,male,M,43,Lacerations to lower leg,N,10h43,NaN,"Orlando Sentinel, 9/19/2016",2016.09.18.a-NSB.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...
3,2016.09.17,17-Sep-16,2016,Unprovoked,AUSTRALIA,Victoria,Thirteenth Beach,Surfing,Rory Angiolella,M,NaN,Struck by fin on chest & leg,N,NaN,NaN,"The Age, 9/18/2016",2016.09.17-Angiolella.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...
4,2016.09.16,16-Sep-16,2016,Unprovoked,AUSTRALIA,Victoria,Bells Beach,Surfing,male,M,NaN,No injury: Knocked off board by shark,N,NaN,2 m shark,"The Age, 9/16/2016",2016.09.16-BellsBeach.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...

**Lets chek the different values href and href formula**

In [115]:
data[['Date','Year','Sex','Case Number','href','href formula']].loc[data['href'] != data['href formula']]

,Date,Year,Sex,Case Number,href,href formula
20,29-Jul-16,2016,M,2016.07.29,http://sharkattackfile.net/spreadsheets/pdf_directory/http://sharkattackfile.net/spreadsheets/pdf_directory/2016.07.29-Spain.pdf,http://sharkattackfile.net/spreadsheets/pdf_directory/2016.07.29-Spain.pdf
27,23-Jul-16,2016,M,2016.07.23.a,http://sharkattackfile.net/spreadsheets/pdf_directory/2016.07.23-Cutbirth.pdf,http://sharkattackfile.net/spreadsheets/pdf_directory/2016.07.23.a-Cutbirth.pdf
61,21-May-16,2016,F,2016.05.21.a,http://sharkattackfile.net/spreadsheets/pdf_directory/http://sharkattackfile.net/spreadsheets/pdf_directory/2016.05.21.a-Girl.pdf,http://sharkattackfile.net/spreadsheets/pdf_directory/2016.05.21.a-Girl.pdf
107,21-Dec-15,2015,M,2015.12.21.a,http://sharkattackfile.net/spreadsheets/pdf_directory/http://sharkattackfile.net/spreadsheets/pdf_directory/2015.12.21.a-Brazil.pdf,http://sharkattackfile.net/spreadsheets/pdf_directory/2015.12.21.a-Brazil.pdf
114,15-Nov-15,2015,M,2015.11.15.a,http://sharkattackfile.net/spreadsheets/pdf_directory/http://sharkattackfile.net/spreadsheets/pdf_directory/2015.11.15.a-Engelman.pdf,http://sharkattackfile.net/spreadsheets/pdf_directory/2015.11.15.a-Engelman.pdf
134,05-Oct-15,2015,M,2015.10.05.a,http://sharkattackfile.net/spreadsheets/pdf_directory/2015.10.05-Slaughter.pdf,http://sharkattackfile.net/spreadsheets/pdf_directory/2015.10.05.a-Slaughter.pdf
180,27-Jun-15,2015,M,2015.06.27.a,http://sharkattackfile.net/spreadsheets/pdf_directory/2015.06.27-Swanepoel.pdf,http://sharkattackfile.net/spreadsheets/pdf_directory/2015.06.27.a-Swanepoel.pdf
193,13-Jun-15,2015,F,2015.06.13,NaN,http://sharkattackfile.net/spreadsheets/pdf_directory/Court Case pending
232,24-Jan-15,2015,M,2015.01.24,http://sharkattackfile.net/spreadsheets/pdf_directory/http://sharkattackfile.net/spreadsheets/pdf_directory/2015.01.24-Murray.pdf,http://sharkattackfile.net/spreadsheets/pdf_directory/2015.01.24-Murray.pdf
262,19-Oct-14,2014,F,2014.10.19,http://sharkattackfile.net/spreadsheets/pdf_directory/http://sharkattackfile.net/spreadsheets/pdf_directory/2014.10.19-Tara.pdf,http://sharkattackfile.net/spreadsheets/pdf_directory/2014.10.19-Tara.pdf
263,18-Oct-14,2014,M,2014.10.18,http://sharkattackfile.net/spreadsheets/pdf_directory/2014.10.18-Roberson,http://sharkattackfile.net/spreadsheets/pdf_directory/2014.10.18-Roberson.pdf
264,17-Oct-14,2014,F,2014.10.17,http://sharkattackfile.net/spreadsheets/pdf_directory/2014.10.14-Bandy.pdf,"http://sharkattackfile.net/spreadsheets/pdf_directory/2014.10.17-Olsson, pdf"
271,03-Oct-14,2014,M,2014.10.03.b,http://sharkattackfile.net/spreadsheets/pdf_directory/2014.10.02.b-Vandenberg.pdf,http://sharkattackfile.net/spreadsheets/pdf_directory/2014.10.03.b-Kayaks2.pdf
272,03-Oct-14,2014,M,2014.10.03.a,http://sharkattackfile.net/spreadsheets/pdf_directory/2014.10.02.b-Vandenberg.pdf,http://sharkattackfile.net/spreadsheets/pdf_directory/2014.10.03.a-Kayaks1.pdf
293,12-Aug-14,2014,M,2014.08.12,http://sharkattackfile.net/spreadsheets/pdf_directory/2014.08.12-Hayes.pdf,http://sharkattackfile.net/spreadsheets/pdf_directory/2014.08.15-Hayes.pdf
305,22-Jul-14,2014,M,2014.07.22,http://sharkattackfile.net/spreadsheets/pdf_directory/http://sharkattackfile.net/spreadsheets/pdf_directory/2014.07.22-Rintz.pdf,http://sharkattackfile.net/spreadsheets/pdf_directory/2014.07.22-Rintz.pdf
323,09-Jun-14,2014,M,2014.06.09.a,http://sharkattackfile.net/spreadsheets/pdf_directory/2014.06.09-Berry.pdf,http://sharkattackfile.net/spreadsheets/pdf_directory/2014.06.09.a-Berry.pdf
347,03-Apr-14,2014,F,2014.04.03,http://sharkattackfile.net/spreadsheets/pdf_directory/http://sharkattackfile.net/spreadsheets/pdf_directory/2014.04.03-Armstrong.pdf,http://sharkattackfile.net/spreadsheets/pdf_directory/2014.04.03-Armstrong.pdf
361,07-Feb-14,2014,M,2014.02.07.b,http://sharkattackfile.net/spreadsheets/pdf_directory/w014.01.25-Grant.pdf,http://sharkattackfile.net/spreadsheets/pdf_directory/2014.02.07.b-Torres.pdf
362,07-Feb-14,2014,M,2014.02.07,http://sharkattackfile.net/spreadsheets/pdf_directory/w014.01.25-Grant.pdf,http://sharkattackfile.net/spreadsheets/pdf_directory/2014.02.07-PorpoiseBay.pdf
363,26-Jan-14,2014,M,2014.01.26,http://sharkattackfile.net/spreadsheets/pdf_directory/w014.01.25-Grant.pdf,http://sharkattackfile.net/spreadsheets/pdf_directory/2014.01.26-O'Connor.pf
364,25-Jan-14,2014,M,2014.01.25,http://sharkattackfile.net/spreadsheets/pdf_directory/w014.01.25-Grant.pdf,http://sharkattackfile.net/spreadsheets/pdf_directory/2014.01.25-Grant
365,04-Jan-14,2014,M,2014.01.04,pdf_directory2014.01.04-Riano.pdf,http://sharkattackfile.net/spreadsheets/pdf_directory/2014.01.04-Rianto.pdf
367,25-Dec-13,2013,M,2013.12.25,http://sharkattackfile.net/spreadsheets/pdf_directory/2013.12.25-NewCaledonia.pdf,http://sharkattackfile.net/spreadsheets/pdf_directory/2013.12.25-NewCaledonia.pdf
377,22-Nov-13,2013,M,2013.11.22,http://sharkattackfile.net/spreadsheets/pdf_directory/2013.11.22-Gardiner,http://sharkattackfile.net/spreadsheets/pdf_directory/2013.11.22-Gardiner.pdf
378,12-Nov-13,2013,M,2013.11.12,http://sharkattackfile.net/spreadsheets/pdf_directory/2013.11.12-Daly,http://sharkattackfile.net/spreadsheets/pdf_directory/2013.11.12-Daly.pdf
379,10-Nov-13,2013,M,2013.11.10,http://sharkattackfile.net/spreadsheets/pdf_directory/2013.11.10-Bahamas,http://sharkattackfile.net/spreadsheets/pdf_directory/2013.11.10-Bahamas.pdf
380,07-Nov-13,2013,M,2013.11.07.b,http://sharkattackfile.net/spreadsheets/pdf_directory/2013.11.07.b-Gates,http://sharkattackfile.net/spreadsheets/pdf_directory/2013.11.07.b-Gates.pdf
381,07-Nov-13,2013,M,2013.11.07.a,http://sharkattackfile.net/spreadsheets/pdf_directory/2013.11.07.a-Melian,http://sharkattackfile.net/spreadsheets/pdf_directory/2013.11.07.a-Melian.pdf
382,31-Oct-13,2013,M,2013.10.31,http://sharkattackfile.net/spreadsheets/pdf_directory/2013.10.31-ChristianBrandon,http://sharkattackfile.net/spreadsheets/pdf_directory/2013.10.31-ChristianBrandon.pdf
383,28-Oct-13,2013,F,2013.10.28,http://sharkattackfile.net/spreadsheets/pdf_directory/2013.10.28-Simmons,http://sharkattackfile.net/spreadsheets/pdf_directory/2013.10.28-Simmons.pdf
384,26-Oct-13,2013,M,2013.10.26.b,http://sharkattackfile.net/spreadsheets/pdf_directory/2013.10.26.b-Tanguy,http://sharkattackfile.net/spreadsheets/pdf_directory/2013.10.26.b-Tanguy.pdf
448,27-May-13,2013,M,2013.05.27.b,http://sharkattackfile.net/spreadsheets/pdf_directory/2013.05.27.b-Ena.pdf,pdf-directory/2013.05.27.b-Ena.pdf
449,27-May-13,2013,M,2013.05.27.a,http://sharkattackfile.net/spreadsheets/pdf_directory/2013.05.27-Kirkpatrick.pdf,http://sharkattackfile.net/spreadsheets/pdf_directory/2013.05.27.a-Kirkpatrick.pdf
823,01-Feb-10,2010,F,2010.02.01,http://sharkattackfile.net/spreadsheets/pdf_directory/2010.02.01-Ward.pdf,http://sharkattackfile.net/spreadsheets/pdf_directory/12.26
1217,22-Aug-06,2006,M,2006.08.22.b,http://sharkattackfile.net/spreadsheets/pdf_directory/2006.08.22-IsaulCoba.pdf,http://sharkattackfile.net/spreadsheets/pdf_directory/2006.08.22.b-Melo.pdf
1218,22-Aug-06,2006,M,2006.08.22.a,http://sharkattackfile.net/spreadsheets/pdf_directory/2006.08.22.b-Brazil-incomplete.pdf,http://sharkattackfile.net/spreadsheets/pdf_directory/2006.08.22.a-Coba.pdf
2274,Apr-93,1993,M,1993.04.00,NaN,http://sharkattackfile.net/spreadsheets/pdf_directory/1993.04.00-Szolomiak.pdf
2477,1989,1989,M,1989.00.00.a,http://sharkattackfile.net/spreadsheets/pdf_directory/1989.00.00-Virginia-spearfisherman.pdf,http://sharkattackfile.net/spreadsheets/pdf_directory/1989.00.00.a-Virginia-spearfisherman.pdf
3019,19-Jan-75,1975,M,1975.01.19,http://sharkattackfile.net/spreadsheets/pdf_directory/1975.01.19-Barrowman.pdf,NaN
3549,1963,1963,M,1963.00.00.a,http://sharkattackfile.net/spreadsheets/pdf_directory/http://sharkattackfile.net/spreadsheets/pdf_directory/1963.00.00.a-Seychelles.pdf,http://sharkattackfile.net/spreadsheets/pdf_directory/1963.00.00.a-Seychelles.pdf
3603,25-Mar-62,1962,M,1962.03.25.b,http://sharkattackfile.net/spreadsheets/pdf_directory/http://sharkattackfile.net/spreadsheets/pdf_directory/1962.03.25.b-Luxton.pdf,http://sharkattackfile.net/spreadsheets/pdf_directory/1962.03.25.b-Luxton.pdf
3917,31-Aug-58,1958,NaN,1958.08.31,http://sharkattackfile.net/spreadsheets/pdf_directory/1958.08.31.a-NV-Ensenada.pdf,http://sharkattackfile.net/spreadsheets/pdf_directory/1958.08.31-NV-Ensenada.pdf
3928,Jul-58,1958,M,1958.07.00.b,http://sharkattackfile.net/spreadsheets/pdf_directory/1958.07.00.b - Waterman.pdf,http://sharkattackfile.net/spreadsheets/pdf_directory/1958.07.00.b-Waterman.pdf
4394,30-Jul-45,1945,NaN,1945.07.30,http://sharkattackfile.net/spreadsheets/pdf_directory/1945.07.30 - USS Indianapolis.pdf,http://sharkattackfile.net/spreadsheets/pdf_directory/1945.07.30-USS Indianapolis.pdf
4642,Reported 04-Aug-1936,1936,M,1936.08.04,http://sharkattackfile.net/spreadsheets/pdf_directory/http://sharkattackfile.net/spreadsheets/pdf_directory/1936.08.04.R-PearlDiver.pdf,http://sharkattackfile.net/spreadsheets/pdf_directory/1936.08.04.R-PearlDiver.pdf
4668,24-Aug-35,1935,M,1935.08.24,http://sharkattackfile.net/spreadsheets/pdf_directory/1935.08.24-Atherfield,http://sharkattackfile.net/spreadsheets/pdf_directory/1935.08.24-Atherfield.pdf
4719,Reported 08-Feb-1934,1934,M,1934.02.08.R,http://sharkattackfile.net/spreadsheets/pdf_directory/http://sharkattackfile.net/spreadsheets/pdf_directory/1924.02.08.R-Turkey.pdf,http://sharkattackfile.net/spreadsheets/pdf_directory/1924.02.08.R-Turkey.pdf
5317,05-Sep-00,1900,M,1900.09.05,http://sharkattackfile.net/spreadsheets/pdf_directory/http://sharkattackfile.net/spreadsheets/pdf_directory/1900.09.05-Hartman.pdf,http://sharkattackfile.net/spreadsheets/pdf_directory/1900.09.05-Hartman.pdf
5458,06-26-1890,1890,M,1890.06.26,http://sharkattackfile.net/spreadsheets/pdf_directory/http://sharkattackfile.net/spreadsheets/pdf_directory/1890.06.26-Mayonni.pdf,http://sharkattackfile.net/spreadsheets/pdf_directory/1890.06.26-Mayonni.pdf
5686,02-Jan-1864,1864,M,1864.01.02,NaN,http://sharkattackfile.net/spreadsheets/pdf_directory/1864.01.01-Kelsall.pdf
5694,Reported 1863,1863,M,1863.00.00.R,http://sharkattackfile.net/spreadsheets/pdf_directory/http://sharkattackfile.net/spreadsheets/pdf_directory/1863.00.00.R-Corfu,http://sharkattackfile.net/spreadsheets/pdf_directory/1863.00.00.R-Corfu
5819,Reported 08-Jul-1819,1819,M,1819.07.08.R,http://sharkattackfile.net/spreadsheets/pdf_directory/1819.07.08-Cadiz.pdf,http://sharkattackfile.net/spreadsheets/pdf_directory/1819.07.08.R-Cadiz.pdf
5857,Reported 1637,1637,NaN,1637.00.00.R,http://sharkattackfile.net/spreadsheets/pdf_directory/1637.00.00-Manrique.pdf,http://sharkattackfile.net/spreadsheets/pdf_directory/1637.00.00.R-Manrique.pdf

**I assume href formula is the most accurate column for the urls** 
**I will correct some errors**

### 2.2.3 Columns with a lot of Null Values

**Three more columns have a lot of Nulls, we check them: Age, Time, Species.**

In [ ]:
null_cols_data = data[['Age','Time','Species']]

In [ ]:
null_cols_data.head()

**Lests check the different values of age**

In [ ]:
data['Age'].unique()

In [ ]:
data['Time'].unique()

**Lests check the different values of species**

In [ ]:
data['Species'].unique()

**Even though the columns have a lot of nulls, they seem valuable so we will keep them for now.**

In [ ]:
data = data.drop(['Case Number.1', 'Case Number.2'], axis=1)

In [ ]:
data.head()

In [ ]:
data = data.drop(['href formula'], axis=1)

In [ ]:
data.head()

**Let's Work with the column YEAR**

** We are going to check the unique values of the field **

In [ ]:
data['Year'].unique()

**Clearely we can see 4 errors. 3 Possible errors in values 500, 77 and 5.
And the value 0 that is maybe a Null value.**

In [ ]:
data.loc[(data['Year'] == 500) | (data['Year'] == 77) |  (data['Year'] == 5)]

In [ ]:
data.loc[(data['Year'] == 0)]

**The pdf file has the year at the begginging of the namefile, let's check if there is any error**

In [ ]:
data[['Year','pdf']].sort_values(by=['pdf'], ascending=True)

In [ ]:
data[['Year','pdf']].loc[data['Year'] == 0].sort_values(by=['pdf'], ascending=False)

## 2.2. We continue with the rows

### Check the duplicates rows

In [ ]:
duplicate_rows = data[data.duplicated(['Date', 'Year', 'Type', 'Country', 'Area', 'Location',
       'Activity', 'Name', 'Sex ', 'Age', 'Injury', 'Fatal (Y/N)', 'Time',
       'Species', 'Investigator or Source'])]

In [ ]:
duplicate_rows

In [ ]:
data.loc[(data['Country'] == 'USA') & (data['Area'] == 'Hawaii') 
         & (data['Year'] == 1943) & (data['Activity'] == 'Spearfishing')]

We see that the row has "2 males" in name, so that is why the row is probably duplicate.

We won't delet the rows.